/*
!/src/
!.gitignore
!/README.mt
!gradlew*
!/gradle/
!/LICENSE.txt
!/README.md
!build.gradle
!.travis.yml
!/textures/
!/gradle.properties
!.gitattributes
!ASSETS_LICENSE.txt
!/docs/
!index.html
!navbar.html
!/reference
!/book
!/aTV
!/changelogs